In [1]:
import sys
import pandas as pd
import numpy as np

print("Python:", sys.version)
print("Pandas:", pd.__version__)

Python: 3.10.0 (tags/v3.10.0:b494f59, Oct  4 2021, 19:00:18) [MSC v.1929 64 bit (AMD64)]
Pandas: 2.3.3

In [2]:
from pathlib import Path

project_root = Path.cwd().parent  # because we're inside /notebooks
raw_dir = project_root / "data" / "raw"

csv_files = list(raw_dir.glob("*.csv"))
print("Found CSV files:", [f.name for f in csv_files])

assert len(csv_files) > 0, "No CSV found in data/raw. Put the dataset CSV there."

Found CSV files: ['HO_infxn_analysis.csv']

In [3]:
data_path = csv_files[0]
df = pd.read_csv(data_path)

print("Loaded:", data_path.name)
print("Shape:", df.shape)
df.head()

Loaded: HO_infxn_analysis.csv
Shape: (120279, 78)

,analysis,run,group,group_binary,group_index,deidentified_patient_id,deidentified_month,deidentified_year,dept_code,duration,...,elix_ALCOHOL,elix_AUTOIMMUNE,elix_PSYCHOSES,elix_HF,elix_RENLFL_SEV,elix_PARALYSIS,elix_LIVER_MLD,elix_VALVE,elix_NEURO_OTH,elix_CBVD
0,environmental,C_diff,control,0,1,33784,2066-02-01,2066,86,10.1,...,0,0,0,0,0,0,0,0,0,0
1,environmental,C_diff,case,1,1,32224,2078-01-01,2078,214,16.0,...,0,0,0,0,0,0,0,0,0,0
2,environmental,C_diff,control,0,2,32346,2091-10-01,2091,68,2.0,...,0,0,0,0,0,1,1,1,0,1
3,environmental,C_diff,case,1,2,27955,2017-04-01,2017,25,2.0,...,0,0,0,0,0,0,0,0,0,0
4,environmental,C_diff,control,0,3,19691,2012-04-01,2012,189,3.1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120279 entries, 0 to 120278
Data columns (total 78 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   analysis                              120279 non-null  object
 1   run                                   120279 non-null  object
 2   group                                 120279 non-null  object
 3   group_binary                          120279 non-null  int64
 4   group_index                           120279 non-null  int64
 5   deidentified_patient_id               120279 non-null  int64
 6   deidentified_month                    120279 non-null  object
 7   deidentified_year                     120279 non-null  int64
 8   dept_code                             120279 non-null  int64
 9   duration                              120279 non-null  float64
 10  time_to_infxn                         37955 non-null   float64
 11  matching_duration                     120279 non-null  float64
 12  age                                   120279 non-null  object
 13  sex                                   120279 non-null  object
 14  any_surgery                           120279 non-null  int64
 15  any_abx_0_60                          120279 non-null  int64
 16  penicillin_0_60                       120279 non-null  int64
 17  extended_spectrum_penicillin_0_60     120279 non-null  int64
 18  anti_staph_beta_lactam_0_60           120279 non-null  int64
 19  cephalosporin_0_60                    120279 non-null  int64
 20  extended_spectrum_cephalosporin_0_60  120279 non-null  int64
 21  carbapenem_0_60                       120279 non-null  int64
 22  fluoroquinolone_0_60                  120279 non-null  int64
 23  sulfonamide_0_60                      120279 non-null  int64
 24  glycopeptide_0_60                     120279 non-null  int64
 25  anti_Cdiff_0_60                       120279 non-null  int64
 26  anti_anaerobe_0_60                    120279 non-null  int64
 27  lincosamide_0_60                      120279 non-null  int64
 28  macrolide_0_60                        120279 non-null  int64
 29  tetracycline_0_60                     120279 non-null  int64
 30  DS_Entero_cp                          120279 non-null  float64
 31  ESBL_cp                               120279 non-null  float64
 32  CDiff_cp                              120279 non-null  float64
 33  VSE_cp                                120279 non-null  float64
 34  VRE_cp                                120279 non-null  float64
 35  MSSA_cp                               120279 non-null  float64
 36  MRSA_cp                               120279 non-null  float64
 37  DS_PsA_cp                             120279 non-null  float64
 38  DR_PsA_cp                             120279 non-null  float64
 39  elix_index_mortality                  120279 non-null  int64
 40  elix_AIDS                             120279 non-null  int64
 41  elix_LUNG_CHRONIC                     120279 non-null  int64
 42  elix_DEMENTIA                         120279 non-null  int64
 43  elix_DEPRESS                          120279 non-null  int64
 44  elix_DIAB_UNCX                        120279 non-null  int64
 45  elix_DIAB_CX                          120279 non-null  int64
 46  elix_HTN_UNCX                         120279 non-null  int64
 47  elix_THYROID_HYPO                     120279 non-null  int64
 48  elix_THYROID_OTH                      120279 non-null  int64
 49  elix_CANCER_LYMPH                     120279 non-null  int64
 50  elix_CANCER_LEUK                      120279 non-null  int64
 51  elix_CANCER_METS                      120279 non-null  int64
 52  elix_OBESE                            120279 non-null  int64
 53  elix_PERIVASC                         120279 non-null  int64
 54  elix_CANCER_SOLID                     120279 non-null  int64
 55  elix_CANCER_NSITU                     120279 non-null  int64
 56  elix_ANEMDEF                          120279 non-null  int64
 57  elix_BLDLOSS                          120279 non-null  int64
 58  elix_COAG                             120279 non-null  int64
 59  elix_LIVER_SEV                        120279 non-null  int64
 60  elix_NEURO_MOVT                       120279 non-null  int64
 61  elix_NEURO_SEIZ                       120279 non-null  int64
 62  elix_PULMCIRC                         120279 non-null  int64
 63  elix_RENLFL_MOD                       120279 non-null  int64
 64  elix_ULCER_PEPTIC                     120279 non-null  int64
 65  elix_WGHTLOSS                         120279 non-null  int64
 66  elix_DRUG_ABUSE                       120279 non-null  int64
 67  elix_HTN_CX                           120279 non-null  int64
 68  elix_ALCOHOL                          120279 non-null  int64
 69  elix_AUTOIMMUNE                       120279 non-null  int64
 70  elix_PSYCHOSES                        120279 non-null  int64
 71  elix_HF                               120279 non-null  int64
 72  elix_RENLFL_SEV                       120279 non-null  int64
 73  elix_PARALYSIS                        120279 non-null  int64
 74  elix_LIVER_MLD                        120279 non-null  int64
 75  elix_VALVE                            120279 non-null  int64
 76  elix_NEURO_OTH                        120279 non-null  int64
 77  elix_CBVD                             120279 non-null  int64
dtypes: float64(12), int64(60), object(6)
memory usage: 71.6+ MB

In [5]:
df["group_binary"].value_counts()

group_binary
0    82324
1    37955
Name: count, dtype: int64

In [6]:
df["analysis"].value_counts()

analysis
patient          67343
environmental    52936
Name: count, dtype: int64

In [7]:
df["run"].value_counts()

run
DS_E_coli            23729
MSSA                 17218
VSE_faecalis         12987
DS_K_pneumoniae      11305
DS_P_aeruginosa       8913
MRSA                  7256
ESBL_E_coli           6840
C_diff                5125
DS_P_mirabilis        4874
DS_E_cloacae          3825
DS_K_oxytoca          3145
DS_S_marcescens       2969
DR_P_aeruginosa       2620
VSE_faecium           1999
VRE_faecium           1961
ESBL_E_cloacae        1906
ESBL_P_mirabilis      1853
ESBL_K_pneumoniae     1754
Name: count, dtype: int64

In [10]:
(
    df.groupby(["run", "group"])
      .size()
      .unstack(fill_value=0)
      .sort_values("case", ascending=False)
)

group              case  control
run
DS_E_coli          8161    15568
MSSA               5327    11891
VSE_faecalis       4207     8780
DS_K_pneumoniae    3427     7878
DS_P_aeruginosa    2765     6148
MRSA               2203     5053
ESBL_E_coli        2030     4810
C_diff             1686     3439
DS_P_mirabilis     1419     3455
DS_E_cloacae       1192     2633
DS_K_oxytoca        930     2215
DR_P_aeruginosa     843     1777
DS_S_marcescens     842     2127
VRE_faecium         633     1328
ESBL_E_cloacae      593     1313
VSE_faecium         585     1414
ESBL_K_pneumoniae   574     1180
ESBL_P_mirabilis    538     1315